<h1> All Workouts</h1>

<% Workout.all.each do |wkt| %>
<a href="/workouts/<%= wkt.id %>"><%= wkt.user.username %> <%= wkt.workout %> <%= wkt.duration %> minutes </a> <br><br>

  <% end %>

  <a href="/landing">Home Page</a>
  <a href="/logout">Log Out</a>
