<h1>Create A New Workout</h1>

<form class="" action="/workouts/show" method="post">
  <label for="wkt">Choose The Workout Type From The Dropdown Menu: </label>
<input list="wkt" name="type">
  <datalist id="wkt">
    <option value="Run">Run</option>
    <option value="Bike">Bike</option>
    <option value="Walk">Walk</option>
    <option value="Yoga">Yoga</option>
    <option value="Weight Training">Weight Training</option> <br>
  </datalist>

  <label for="wkt">Or create a new type of workout: </label>
  <input id="wkt" type="text" name="type" value=""><br> <br>

  <label for="dur">Workout Duration (minutes)</label>
  <input id="dur" type="text" name="duration" value=""><br> <br>

  <label for="cmt">Comments </label>
  <input id="cmt" type="textarea" name="comment" value=""><br> <br>

  <input type="submit" name="" value="Create New Workout">
</form>
