
<h1>Create A New Workout</h1>

<form class="" action="/workouts/show" method="post">
  <label for="wkt">Choose The Workout Type From The Dropdown Menu: </label>

    <select id="wkt" name="workout">
      <option value="bike">Bike</option>
      <option value="cardio">Cardio</option>
      <option value="run">Run</option>
      <option value="swim">Swim</option>
      <option value="walk">Walk</option>
      <option value="weights">Weight Training</option>
      <option value="yoga">Yoga</option>
</select>
<br>
  <label for="new_wkt">Or create a new type of workout: </label>
  <input id="new_wkt" type="text" name="new_workout" value=""><br> <br>

  <label for="date">Date: </label>
  <input id="date" type="text" name="date" value=""><br> <br>


  <label for="mile">Workout Mileage (miles)</label>
  <input id="mile" type="text" name="mileage" value=""><br> <br>

  <label for="dur">Workout Duration (minutes)</label>
  <input id="dur" type="text" name="duration" value=""><br> <br>





  <label for="cmt">Comments </label>
  <input id="cmt" type="textarea" name="comment" value=""><br> <br>

  <input type="submit" name="" value="Create New Workout">
</form>

<a href="/landing">Home Page</a>
<a href="/logout">Log Out</a>
