<h1>Create A New Workout</h1>

<form class="" action="index.html" method="post">
  <label for="sel">Choose The Workout Type From The Dropdown Menu: </label>
<select id ="sel" class="type" name="">
  <option value="">Run</option>
  <option value="">Bike</option>
  <option value="">Walk</option>
  <option value="">Yoga</option>
  <option value="">Weight Training</option> <br>


</select>

  <label for="wkt">Or create a new type of workout: </label>
  <input id="wkt" type="text" name="type" value=""><br> <br>

  <label for="dur">Workout Duration (minutes)</label>
  <input id="dur" type="text" name="duration" value=""><br> <br>

  <label for="cmt">Comments </label>
  <input id="cmt" type="textarea" name="comment" value=""><br> <br>

  <input type="submit" name="" value="Create New Workout">
</form>
