<h1>Welcome <%= @user.username %></h1>



<h2>What would you like to do?</h2>

<a href="/workouts/new">Add Workout?</a><br>
<a href="/show">Edit A Workout?</a><br>
<a href="/users/workouts">Review All Your Workouts</a> <br>
<a href="/workouts/workouts">View All Workouts</a><br><br>

<a href="/logout">Log Out</a>
