<h1><%= @user.username.capitalize %>'s  Workouts</h1>

<% @user.workouts.all.each do |wkt| %>
<a href="/workouts/show/<%= wkt.id %>">Workout: <%= wkt.type %> </a>
  Duration: <%= wkt.duration %> minutes
  <% end %>
