
<!-- <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Workout Diary</title>
    <link rel="stylesheet"   href="<%= url("/css/master.css")%>"/>
  </head>
  <body> -->

    <h1>Welcome To Your Workout Diary</h1>

    <h4><a href="/signup">Signup</a></h4>
    <h4><a href="/login">Login</a></h4>

  <!-- </body>
</html> -->
