<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Workout Diary</title>
    <link rel="stylesheet"   href="<%= url("/css/master.css")%>"/>
  </head>
  <body>

    <%= yield %>
  </body>
</html>
